@media (max-width: 999px) {
    .waiting{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: calc(100vh - 7.5rem);
        /* padding-top: 2rem; */
        /* padding-bottom: 3rem; */
    }

    .waiting__img{
        width: 30rem;
    }

    .waiting__text{
        width: 100%;
    }
}