@media (max-width: 999px) {

    .forms__container{
        align-items: center;
        border-color: var(--vermelho-claro);
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 85%;
        width: 100%;
    }


    .forms__container__form{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr);
        gap: 2rem;
        width: 90%;
        margin-top: 5rem;
    }

    .forms__container__text__title{
        font-size: 3rem;
        width: 100%;
    }
    
    .forms__container__text__description{
        font-size: 1.25rem;
        width: 100%;
    }


    .forms__container__form__input--name{
        grid-column: 1;
        grid-row: 1;
    }

    .forms__container__form__input--email{
        grid-column: 1;
        grid-row: 2;
    }
    
    .forms__container__form__input--phone{
        grid-column: 1;
        grid-row: 3;
    }
    
    .forms__container__form__input--subject{
        grid-column: 1;
        grid-row: 4;
    }
    
    
    .forms__container__form__input--message{
        grid-column: 1;
        grid-row: 5/7;
        height: 100%;
        padding: 1rem;
        resize: none;
    }
    
    .forms__container__form__input--submit{
        grid-column: 1;
        grid-row: 7;
        /* width: 20rem; */
        margin: 0rem 2rem;
        text-align: center;
        border-radius: 0.5rem;
        background: #EA1D24; 
        color: #FFF; 
        font-weight: bold;
        font-family: var(--Poppins);
    }
    
}