/* body{
    overflow-x: hidden !important;
} */

.header{
    align-items: center;
    border: 1px solid blue;
    justify-content: space-between;
    display: flex;
    height: 7.5rem;
    /* margin-bottom: 100vh; */
    position: sticky;
    top: 0;
    background-color: #fff;
}

.header__navbar{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.header__navbar__link{
    font-size: 1.6rem;
    font-family: var(--Poppins);
}