@media (max-width: 999px) {
    .banner{
        height: 50vh;
        background-position: center;
        background-size: auto 100%;
    }

    .banner__text__subtitle{
        font-size: 1.5rem;
        text-align: center;
    }
    
    .banner__text__title{
        font-size: 3.5rem;
        text-align: center;
    }

}