.banner{
    align-items: center;
    height: 40vh;
    display: flex;
    justify-content: center;
    background-image: url("../../../images/servicos/pagEngenharia.jpg");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.banner__arquitetura{
    background-image: url("../../../images/servicos/pagArquitetura.png");
}

.banner__obras{
    background-image: url("../../../images/servicos/pagObras.jpg");
}

.banner__title{
    font-size: 4.5rem;
}