@media (min-width: 999px) { 

    .socialNetwork{
        padding-bottom: 2rem;
        padding-top: 2rem;
        width: 100vw;
    }
    
    .socialNetwork__grid_container{
        column-gap: 4rem;
        grid-template-columns: repeat(3, var(--columm-size));
        grid-template-rows: repeat(2, var(--row-size));
        row-gap: 6rem;
        width: 100%;
    }
    
    .socialNetwork__card{
        height: 12rem;
        max-width: 40rem;
        min-width: 27rem;
    }
    
    .socialNetwork__card__img{
        margin: 0rem 2.5rem;
        width: 5.5rem;
    }
    
    .socialNetwork__card__img--map{
        width: 4.5rem;
    }
    
    .socialNetwork__card__stick{
        height: 75%;
        margin-right: .8rem;
        width: 2px;
    }
    
    .socialNetwork__text{
        height: 100%;;
        padding-top: 1.3rem;
    }
    
    .socialNetwork__card__title{
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }
    
    .socialNetwork__card__title--map{
        padding-bottom: 0.5rem;
    }
    
    .socialNetwork__card__subtitle{
        font-size: 1.5rem;
    }
}