@media (max-width: 999px) {
    .socialNetwork{
        padding-bottom: 2rem;
        padding-top: 2rem;
        width: 100vw;
    }
    
    .socialNetwork__grid_container{
        align-items: center;
        column-gap: 3rem;
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        justify-content: center;
        row-gap: 3.5rem;
        width: 100%;
    }
    
    .socialNetwork__card{
        height: 12rem;
        width: 30rem;
    }
    
    .socialNetwork__card__img{
        margin: 0rem 2.5rem;
        width: 5.5rem;
    }
    
    .socialNetwork__card__img--map{
        width: 4.5rem;
    }
    
    .socialNetwork__card__stick{
        height: 75%;
        width: 2px;
        margin-right: .8rem;
    }
    
    .socialNetwork__text{
        height: 100%;;
        padding-top: 1.3rem;
    }
    
    .socialNetwork__card__title{
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }
    
    .socialNetwork__card__title--map{
        padding-bottom: 0.5rem;
    }
    
    .socialNetwork__card__subtitle{
        font-size: 1.5rem;
    }
}