:root{
    --columm-size: 1fr;
    --row-size: 1fr;
}

.socialNetwork{
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    /* padding-top: 2rem; */
    /* padding-bottom: 2rem; */
    /* width: 100vw; */
}

.socialNetwork__grid_container{
    display: grid;
    /* grid-template-columns: repeat(3, var(--columm-size)); */
    /* grid-template-rows: repeat(2, --row-size); */
    /* height: 40vh; */
    /* width: 100%; */
    /* border: 3px solid black; */
    /* padding-top: 2rem; */
    /* padding-bottom: 2rem; */
    /* column-gap: 4rem; */
    /* row-gap: 6rem; */
    font-family: var(--Titillium_Web);
}

.socialNetwork__card{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    /* column-gap: 8px; */
    /* min-width: 27rem; */
    /* max-width: 40rem; */
    /* height: 12rem; */
    /* height: 120px; */
    border: 3px solid #ED1C24;
}

.socialNetwork__card__img{
    /* margin: 0rem 2.5rem; */
    /* width: 5.5rem; */
}

.socialNetwork__card__img--map{
    /* width: 4.5rem; */
}

.socialNetwork__card__stick{
    background-color: #AE1118;   
    /* width: 2px; */
    /* height: 75%; */
    /* margin-left: 1.6rem; */
    /* margin-right: .8rem; */
}

.socialNetwork__text{
    /* border: 3px solid black; */
    display: flex;
    /* height: 100%;; */
    /* padding-top: 1.3rem; */
    flex-direction: column;
    justify-content:flex-start;
}

.socialNetwork__card__title{
    color: var(--vermelho-claro);
    /* font-size: 2.5rem; */
    /* padding-bottom: 1rem; */
}

.socialNetwork__card__title--map{
    /* padding-bottom: 0.5rem; */
}

.socialNetwork__card__subtitle{
    /* font-size: 1.5rem; */
}