:root{
    --columm-size: 1fr;
    --row-size: 1fr;
}

.socialNetwork{
    display: flex;
    justify-content: center;
}

.socialNetwork__grid_container{
    display: grid;
    font-family: var(--Titillium_Web);
}

.socialNetwork__card{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    border: 3px solid #ED1C24;
}

.socialNetwork__card__stick{
    background-color: #AE1118;   
}

.socialNetwork__text{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.socialNetwork__card__title{
    color: var(--vermelho-claro);
}