.title__container{
    align-items: center;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 100%;
    /* margin-top: 2rem; */
    margin-bottom: 6.5rem;
    /* padding: 2rem; */
}

.title__container__title{
    font-size: 3rem;
    font-family: var(--Oswald);
    text-transform: uppercase;
    color: var(--vermelho-claro);
    text-align: center;
}

.title__container__line{
    height: 1px;
    width: 65%;
    min-width: 32rem;
    background-color: var(--vermelho-claro);
}